.btn {
  background: #f5e942;
  color: #f5e942; }

.card-helado {
  flex: 1 200px;
  margin-top: 10px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px; }

.card-helado button {
  width: 100%;
  background: #42a1f5; }

footer {
  margin-top: 17px; }

#reservaBtn {
  margin-top: 10px; }
